---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>
  
  <div class="date">
    Written on {{ page.date | date: "%Y-%m-%d" }}
  </div>

  <div class="tags">
    <ul class="label">
      {% for tag in page.tags %}
      <li>
        <a href="{{ site.url }}{{ site.baseurl }}/tags/#{{ tag }}">
          <span>{{ tag }} </span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  {% include disqus.html %}
  
</article>
